@model TrangQuanLy.Models.HangHoaVM
@{
    ViewData["Title"] = "Index";
    Layout = "_Footer-Header";
}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h5 class="mb-4">Cập nhật sản phẩm</h5>
        <form asp-action="Edit" method="post">
            <div class="form-grid">
                <!-- Cột trái: Các thông tin sản phẩm -->
                <div class="form-left">
                    <input type="hidden" asp-for="MaHH" />
                    <div class="form-group">
                        <label asp-for="TenHH" class="control-label">Tên sản phẩm</label>
                        <input asp-for="TenHH" class="form-control" />
                        <span asp-validation-for="TenHH" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MoTa" class="control-label">Mô tả</label>
                        <input asp-for="MoTa" class="form-control" style="resize: vertical;" />
                        <span asp-validation-for="MoTa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MoTaDonVi" class="control-label">Mô tả ngắn</label>
                        <input asp-for="MoTaDonVi" class="form-control" />
                        <span asp-validation-for="MoTaDonVi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DonGia" class="control-label">Đơn giá</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input asp-for="DonGia" class="form-control" />
                            <span asp-validation-for="DonGia" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="GiamGia" class="control-label">Giảm giá</label>
                        <input asp-for="GiamGia" class="form-control" />
                        <span asp-validation-for="GiamGia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgaySX" class="control-label">Ngày sản xuất</label>
                        <input asp-for="NgaySX" class="form-control" />
                        <span asp-validation-for="NgaySX" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaLoai" class="control-label">Loại sản phẩm</label>
                        <select id="selectLoaiSp" class="form-select form-select-sm mb-3">
                            <option selected="">Chọn loại sản phẩm</option>
                            @await Component.InvokeAsync("LoaiSp")
                        </select>
                        <input id="inputValueLoaiSp" type="text" class="form-control" style="display:none;" name="MaLoai" readonly asp-for="MaLoai">
                    </div>
                    <div class="form-group">
                        <label asp-for="MaNCC" class="control-label">Nhà cung cấp</label>
                        <select id="selectNCC" class="form-select form-select-sm mb-3">
                            <option selected="">Chọn nhà cung cấp</option>
                            @await Component.InvokeAsync("HangSp")
                        </select>
                        <input id="inputValueNCC" type="text" class="form-control" style="display:none;" name="MaNCC" readonly asp-for="MaNCC">
                    </div>
                </div>

                <!-- Cột phải: Hình ảnh sản phẩm -->
                <div class="form-right">
                    <div class="form-group mb-3-img">
                        <label asp-for="Hinh" for="formFile" class="form-label">Chọn hình ảnh sản phẩm</label>
                        <input asp-for="Hinh" class="form-control bg-dark" type="file" id="formFile" onchange="previewImage(this)">
                        <span asp-validation-for="Hinh" class="text-danger"></span>
                    </div>
                    <img id="imagePreview" src="~/Hinh/Hinh/HangHoa/@Model.Hinh" alt="Hình ảnh sản phẩm" class="img-preview">
                </div>
            </div>
            <div class="form-group button-submit">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>