@* @model IEnumerable<TrangQuanLy.Models.HoaDonViewModel> *@

@model PaginatedList<HoaDonViewModel>
@using TrangQuanLy.Helpers;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Footer-Header";

}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Worldwide Sales</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="worldwide-sales" style="display: block; box-sizing: border-box; height: 360px; width: 721px;" width="721" height="360"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Salse &amp; Revenue</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="salse-revenue" style="display: block; box-sizing: border-box; height: 360px; width: 721px;" width="721" height="360"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Mã Khách Hàng</th>
                        <th scope="col">Họ Tên</th>
                        <th scope="col">Ngày đặt hàng</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Mã trạng thái</th>
                        <th scope="col">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @await Html.PartialAsync("HoaDon", Model)
                    }
                </tbody>
            </table>
        </div>
        <div class="paging">
            <ul id="pagination" role="group" aria-label="Pagination group" style="display: flex; justify-content: center; margin-top:15px;">
                @if (Model.HasPreviousPage)
                {
                    <li><a href="?page=@(Model.PageIndex - 1)&pagesize=@ViewBag.PageSize">Previous</a></li>
                }

                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li>
                        <a href="?page=@i&pagesize=@ViewBag.PageSize" class="@(i == Model.PageIndex ? "selected" : "")">
                            @i
                        </a>
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li><a href="?page=@(Model.PageIndex + 1)&pagesize=@ViewBag.PageSize">Next</a></li>
                }
            </ul>
        </div>

    </div>
</div>
